{{define "body"}}
    <!doctype html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <p>
    Your login code is: <strong>{{.}}</strong> </br>
It expires in 5 minutes.</p>
    </body>

    </html>
{{end}}